In [2]:
import pandas as pd

data = pd.read_csv("LinearRegressionData.csv")

In [2]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [3]:
df_x=data.iloc[:,[0]]
df_y=data.iloc[:,[1]]
df_x

     SAT
0   1714
1   1664
2   1760
3   1685
4   1693
..   ...
79  1936
80  1810
81  1987
82  1962
83  2050

[84 rows x 1 columns]

In [4]:
x=df_x.iloc[:,0]
x=pd.to_numeric(x)

y=df_y.iloc[:,0]
y = pd.to_numeric(y)
len(x)
x[1]

1664

In [7]:
def gradient_descent(x,y):

    m = 0 
    c = 0
    alpha = 0.3
    iterations = 1000

    for j in range(iterations):
        
        Total_J = 0
        d_m = 0 # accumulate total gradient in m
        d_c = 0 # accumulate total gradient in c

        for row in range(len(x)): # looping over number of training examples

            # hypothesis function
            hx = m*x[row]+c
            
            # cost function 
            J = ( (y[row]-hx)**2 )/len(x)
            Total_J = Total_J + J
            # update m and c 
            temp0 = c - alpha * (2*(y[row] - hx ))
            temp1 = m - alpha * ( 2*x[row]*(y[row] - hx ))
            c = temp0
            m = temp1

    return [m,c]

ans = gradient_descent(x,y)
print(ans)

C:\Users\ALIRIZ~1\AppData\Local\Temp/ipykernel_10168/567270269.py:16: RuntimeWarning: overflow encountered in double_scalars
  J = ( (y[row]-hx)**2 )/len(x)
C:\Users\ALIRIZ~1\AppData\Local\Temp/ipykernel_10168/567270269.py:13: RuntimeWarning: overflow encountered in double_scalars
  hx = m*x[row]+c

[-inf, -inf]